body {
	background: #0C0F15;
}

.container {
	width: 1300px;
	margin: 0 auto;
}

.title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	color: #FFFFFF;
}

.text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 50px;
	color: #FFFFFF;
}

.column-center {
	display: flex;
	flex-flow: column;
	align-items: center;
}





.section-main {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding-top: 395px;
}

.section-main__image-device {
	width: 75vw;
	max-width: 1200px;
}





.section-about {
	margin-bottom: 170px;
}

.section-about__container {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: space-between;
}

.section-about__days {
	text-align: right;
}

.section-about__days-text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 200px;
	line-height: 244px;
	color: #0C0F15;
	-webkit-text-stroke: 0.2px rgba(255, 255, 255, 0.6);
}

.section-about__content {
	width: 680px;
}

.section-about__content-text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 50px;
	color: #FFFFFF;
}

.section-about__content-text:first-child {
	margin-bottom: 20px;
}




.section-schema {
	margin-bottom: 200px;
}

.section-schema__title {
	margin-bottom: 100px;
}

.section-schema__image{
	width: 500px;
}




.section-palette {
	margin-bottom: 200px;
}

.section-palette__title {
	margin-bottom: 50px;
}

.section-palette__colors {
	display: grid;
	grid-template-columns: 1fr 1fr 170px;
	grid-auto-rows: 500px 500px;
	width: 100%;
}

.section-palette__color {
	position: relative;
}

.section-palette__color:after {
	position: absolute;
	left: 50px;
	bottom: 50px;
	content: attr(data-color);
}






.section-content {
	margin-bottom: 200px;
}

.section-content__block {
	margin-bottom: 200px;
}

.section-content__block:last-child {
	margin-bottom: 0;
}

.section-content__block-text {
	width: 600px;
	margin-bottom: 200px;
}

.section-content__figure-caption {
	margin-bottom: 50px;
}

.section-content__figure-image {
	width: 1030px;
}




.section-others__pad {
	position: relative;
	height: calc(1300px / 4);
}

.section-others__pad-image {
	position: absolute;
	z-index: 100;
	left: 25px;
	right: 25px;
	width: calc(100% - 50px);
}


.section-others__content {
	background: #151923;
	padding-top: 615px;
	clip-path: polygon(0 3%, 100% 0, 100% 100%, 0% 100%);	
	padding-bottom: 145px;
}


.info {
	display: grid;
	grid-template-columns: 425px 765px;
	justify-content: space-between;
	margin-bottom: 65px;
}

.info__content-text {
	position: sticky;
	top: 60px;
}

.info__image {
	margin-bottom: 50px;
}

.info__image:last-child {
	margin-bottom: 0;
}


.sitemaps {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 60px;
}

.sitemaps__image {
	width: 100%;
	margin-bottom: 55px;
}

.sitemaps__image:last-child {
	margin-bottom: 0;
}






.section-end__image {
	height: 1380px;
	background-image: url("../images/end-preview.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.section-end__content {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	padding: 215px 0 365px;
}

.section-end__content-title {
	font-size: 28px;
	line-height: 50px;
	color: #FFFFFF;
	margin-bottom: 20px;
}

.section-end__content-link {
	text-decoration: none;
	font-size: 16px;
	line-height: 20px;
	color: #FF3D13;
	padding-bottom: 5px;
	border-bottom: 1px solid #FF3D13;
}